<% if logged_in?(:site_admin) %>
  <nav class="breadcrumb blogcrumb d-flex justify-content-start gap-1">
    <%= link_to toggle_status_blog_path(blog), style: blog_status_color(blog), class: "btn btn-sm btn-secondary bg-white" do %>
      <%= fa_icon('file-text') %>
    <% end %>

    <%= link_to edit_blog_path(blog), class: "btn btn-sm btn-secondary bg-white" do %>
      <%= fa_icon('pencil-square-o') %>
    <% end %>

    <%= button_to blog_path(blog),
      method: :delete,
      data: { turbo_confirm: 'Are you sure?' },
      form: { class: "d-flex justify-content-center btn btn-sm btn-secondary bg-white" },
      class: "bg-white border-0" do %>
        <%= fa_icon('trash', class: 'icon-large') %>
    <% end %>

  </nav>
<% end %>