<div class="container">
  <h1 class="mt-4 mt-lg-5"><%= @topic.title %></h1>
  <hr>
</div>

<div class="container blog-container bg-tranparent">
  <div class="row">
    <div class="col-md-8 mb-3 mb-md-0">
      
      <%= paginate @blogs %>

      <%= render @blogs %>

      <%= paginate @blogs %>
    
    </div>

    <div class="col-md-4">
      <%= render "shared/blog_sidebar" %>
    </div>
  </div>
</div>