<div class="container">
  <h1 class="mt-4 mt-lg-5"><%= @topic.title %></h1>
  <hr>
</div>

<div class="container blog-container bg-tranparent">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex flex-column gap-3">
        <%= paginate @blogs %>

        <%= render @blogs %>

        <%= paginate @blogs %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="<%= logged_in?(:site_admin) ? '' : 'mt-3 mt-md-0' %>">
        <%= render "shared/blog_sidebar" %>
      </div>
    </div>
  </div>
</div>